<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="App">
    <head>
        <title>Kwetter Client</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assets/css/style-index.css">
    </head>
    <body ng-controller="App as app">
        <div class="main" >
            <div class="head">
                <a href="myView.html" ng-click="app.setCurrentUser(0)">login</a>
            </div>
            <div class="body">
                <div class="left">
                    
                    <div class="header box">
                        <table class="header box table">
                            <tr>
                                <td><img class="avatar" ng-src="{{app.users[app.selectedUser].avatar_thumb}}"></td>
                                <td><h1>{{app.users[app.selectedUser].name}} {{app.users[app.selectedUser].lastname}}</h1></td>
                            </tr>
                        </table>
                    </div>
                    
                    <div class="selected content box"> 
                        <div class="following content" ng-show='app.isSet(1)'>
                            <div class="followings">
                                <h3>following</h3> 
                                <ul class="list-inline content">
                                    <li ng-repeat="followingperson in app.users[app.selectedUser].following track by $index">{{followingperson.name}} {{followingperson.lastname}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="followers content" ng-show='app.isSet(2)'>
                            <div class="followers">
                                <h3>followers</h3> 
                                <ul class="list-inline content">
                                    <li ng-repeat="personfollowing in app.users[app.selectedUser].followers track by $index">{{personfollowing.name}} {{personfollowing.lastname}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="tweet content" ng-show='app.isSet(3)'>
                            <div class="tweets">
                                <h3>tweets</h3> 
                                <ul class="list-inline content">
                                    <li ng-repeat="tweet in app.users[app.selectedUser].tweets track by $index">
                                        [{{tweet.getDate()}}] {{tweet.tweetContent}} 
                                        <a href="" class="tweetTagLink" ng-repeat="t in tweet.tweetTags track by $index">#{{t}}</a> 
                                        <a href="" class="tweetMentionLink" ng-repeat="m in tweet.tweetMentions track by $index">@{{m}}</a> 
                                    </li>
                                </ul>
                            </div>
                        </div>   
                    </div>   
                </div>
                
                <div class="right">
                    <div class="details-box">
                        <h3>Details</h3>
                        <ul class="details list">
                            <li>name: {{app.users[app.selectedUser].name}}</li>
                            <li>location: {{app.users[app.selectedUser].location}}</li>
                            <li>web: <a href="{{app.users[app.selectedUser].webURL}}">{{app.users[app.selectedUser].web}}</a></li>
                            <li>bio: {{app.users[app.selectedUser].bio}}</li>
                        </ul>  
                    </div>
                    
                    <div class='content-select-box'>
                        <ul class="contentSelectList">
                            <li ng-class='{active:tab.isSet(1)}'><a href='#' ng-click='app.setTab(1)'>following {{app.users[app.selectedUser].following.length}}</a></li>
                            <li ng-class='{active:tab.isSet(2)}'><a href='#' ng-click='app.setTab(2)'>followers {{app.users[app.selectedUser].followers.length}}</a></li>
                            <li ng-class='{active:tab.isSet(3)}'><a href='#' ng-click='app.setTab(3)'>tweets {{app.users[app.selectedUser].tweets.length}}</a></li>
                        </ul>
                    </div>
                    
                    <div class="followers-box">
                        <h3>Following</h3>
                        <ul class="followersList">
                            <li ng-repeat="p in app.users[app.selectedUser].followers track by $index">
                                <a href="" ng-click="app.setSelectedUser(p.id)">{{p.name}}</a>
                            </li>
                        </ul>
                    </div> 
                </div>
                
            </div>
            <div class="footer">       
            </div>
        </div>
    </body>
    <footer>
        <script src="assets/libs/angular.js"></script>
        <script src="assets/libs/angular-route.js"></script>
        <script src="app/App.js"></script>
    </footer>
</html>
