<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="kwetterApp">
    <head>
        <title>Kwetter Client</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assets/css/style-index.css">
    </head>
    <body ng-controller="mainController as app">
        <div class="main" >
            <div class="head">
                <a href="notFound.html">test requests</a>
                <a href="myView.html" ng-click="setCurrentUser(0)">login</a>
            </div>
            <div class="body">
                <div class="left">
                    
                    <div class="header box">
                        <table class="header box table">
                            <tr>
                                <td><img class="avatar" ng-src="{{selectedUser.avatar}}"></td>
                                <td><h1>{{selectedUser.name}}</h1></td>
                            </tr>
                        </table>
                    </div>
                    
                    <div class="selected content box"> 
                        <div class="following content" ng-show='isSet(1)'>
                            <div class="followings">
                                <h3>following</h3> 
                                <div ng-show="!selectedUser.following.length">
                                        Oh no! You currently aren't following anyone at all! Go follow someone!
                                    </div>
                                <ul class="list-inline content">
                                    <li ng-repeat="FOLLOWING in selectedUser.following">{{FOLLOWING.name}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="followers content" ng-show='isSet(2)'>
                            <div class="followers">
                                <h3>followers</h3> 
                                <ul class="list-inline content">
                                    <div ng-show="!selectedUser.follower.length">
                                        You have absolutely no followers at all! ;_;
                                    </div>
                                    <li ng-repeat="FOLLOWER in selectedUser.followers">{{FOLLOWER.name}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="tweet content" ng-show='isSet(3)'>
                            <div class="tweets">
                                <h3>tweets</h3> 
                                <div ng-show="!selectedUser.tweets.length">
                                    Nope, no tweets here.
                                </div>
                                <ul class="list-inline content">
                                    <li ng-repeat="tweet in selectedUser.tweets">
                                        [{{tweet.date}}] {{tweet.tweet}} 
                                        <a href="" class="tweetTagLink" ng-repeat="t in tweet.tags  ">#{{t.value}}</a> 
                                        <a href="" class="tweetMentionLink" ng-repeat="m in tweet.mentions track by $index">@{{m.value}}</a> 
                                        <i>gekwetterd van: {{tweet.vanaf}}</i>
                                    </li>
                                </ul>
                            </div>
                        </div>   
                    </div>   
                </div>
                
                <div class="right">
                    <div class="details-box">
                        <h3>Details</h3>
                        <ul class="details list">
                            <li>name: {{selectedUser.name}}</li>
                            <li>location: {{selectedUser.location}}</li>
                            <li>web: <a href="">{{selectedUser.web}}</a></li>
                            <li>bio: {{selectedUser.bio}}</li>
                        </ul>  
                    </div>
                    
                    <div class='content-select-box'>
                        <ul class="contentSelectList">
                            <li ng-class='{active:tab.isSet(1)}'><a href='#' ng-click='setTab(1)'>following [{{selectedUser.following.length}}]</a></li>
                            <li ng-class='{active:tab.isSet(2)}'><a href='#' ng-click='setTab(2)'>followers [{{selectedUser.follower.length}}]</a></li>
                            <li ng-class='{active:tab.isSet(3)}'><a href='#' ng-click='setTab(3)'>tweets [{{selectedUser.tweets.length}}]</a></li>
                        </ul>
                    </div>
                    
                    <div class="followers-box">
                        <h3>Following</h3>
                        <ul class="followersList">
                            <li ng-repeat="f in selectedUser.following">
                                <a href="" ng-click="setSelectedUser(f.name)">{{f.name}}</a>
                            </li>
                        </ul>
                    </div> 
                </div>
                
            </div>
            <div class="footer">       
            </div>
        </div>
    </body>
    <footer>
        <script src="assets/libs/angular.js"></script>
        <script src="assets/libs/angular-route.js"></script>
        <script src="app/angular/App.js"></script>
        <script src="app/angular/Controllers.js"></script>
        <script src="app/angular/Services.js"></script>
        
        <script type="text/javascript" src="assets/libs/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="assets/libs/angular-resource.min.js"></script>
    </footer>
</html>
