<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="kwetterApp">
    <head>
        <title>My page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assets/css/style-personalView.css">
    </head>
    <body ng-controller="mainController as app">
        <div class="main" >
            <div class="head">
                Hello {{currentUser.name}}, 
                <a href="index.html" ng-click="setCurrentUser(-1)"> logout</a>
                <div class="searchBox">
                    <form method="get">
                        <input type="text" name="searchText" placeholder="search..." ng-model="tweet.search"/>
                        <div class="hidden-submit"><input type="submit" tabindex="-1" name="searchSubmit" value="submit"/></div>
                    </form>
                </div>
            </div>
            <div class="body">
                <div class="wrapper">
                    <div class="leftbody">
                        <div class="tweetBox">
                            <h2>Whats happening?</h2>
                            
                            <form novalidate ng-controller="tweetController as controller" class="tweet-form" ng-submit="addTweet()">
                                <textarea class="tweetContent" maxlength="140" ng-model="newTweetContent"></textarea>
                                <div class="submit"><input type="submit" name="searchSubmit" value="tweet"/></div>
                            </form>           
                        </div>

                        <div class="timelineBox">
                            <ul class="timelineSelectList">
                                <li class="timelineSelectListItem" ng-class='{active:tab.timelineTabIsSet(1)}'><a href='#' ng-click='setTimelineTab(1)'>Timeline</a></li>
                                <li class="timelineSelectListItem" ng-class='{active:tab.timelineTabIsSet(2)}'><a href='#' ng-click='setTimelineTab(2)'>@Mentions</a></li>
                            </ul>
                            
                            <div class="timeline" ng-show='timelineTabIsSet(1)'>
                                <div class="tweets">
                                    <br>
                                    <ul class="list-inline content">
                                        <li ng-repeat="tweet in allTweets | orderBy:'-date' | filter:tweet.search">
                                            [{{tweet.date}}] {{tweet.owner}}: {{tweet.tweet}} 
                                            <a href="" class="tweetTagLink" ng-repeat="t in tweet.tags ">#{{t.value}}</a> 
                                            <a href="" class="tweetMentionLink" ng-repeat="m in tweet.mentions ">@{{m.value}}</a> 
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="mentions" ng-show='timelineTabIsSet(2)'>
                                <div class="mentions">
                                    <br>
                                    <ul class="list-inline content">
                                        <li ng-repeat="tweet in allTweetsWithMention | orderBy:'-date' | filter:tweet.search">
                                            [{{tweet.date}}] {{tweet.owner}}: {{tweet.tweet}} 
                                            <a href="" class="tweetTagLink" ng-repeat="t in tweet.tags track by $index">#{{t.value}}</a> 
                                            <a href="" class="tweetMentionLink" ng-repeat="m in tweet.mentions track by $index">@{{m.value}}</a> 
                                        </li>
                                    </ul>
                                </div>
                            </div>  
                            
                        </div>
                    </div>
                    <div class="rightbody">
                        <div class="infoBox" ng-controller="timelineController as TLController">
                            <ul>
                                <li>
                                    Your tweets ({{currentUser.tweets.length}})
                                    <br>
                                    <i>Just now:</i> 
                                    {{currentUser.tweets[currentUser.tweets.length -1].tweet}}
                                    <a href="" class="tweetTagLink" ng-repeat="t in currentUser.tweets[currentUser.tweets.length -1].tags track by $index">#{{t.value}}</a> 
                                    <a href="" class="tweetMentionLink" ng-repeat="m in currentUser.tweets[currentUser.tweets.length -1].mentions track by $index">@{{m.value}}</a> 
                                    <br><br>
                                </li>
                                <li>
                                    Following ({{currentUser.following.length}})
                                    <br>
                                    <ul class="followingsList">
                                        <li ng-repeat="n in currentUser.following track by $index">
                                            <a href="index.html" ng-click="setSelectedUser(n.name)">{{n.name}}</a>
                                        </li>
                                    </ul>
                                    <br><br>
                                </li>
                                <li>
                                    Followers ({{currentUser.follower.length}})
                                    <br>
                                    <ul class="followersList">
                                        <li ng-repeat="p in currentUser.follower track by $index">
                                            <a href="index.html" ng-click="setSelectedUser(p.name)">{{p.name}}</a>
                                        </li>
                                    </ul>
                                    <br><br>
                                </li>
                            </ul>
                            
                        </div>

                        <div class="trendingBox">
                            <h3>Trends</h3>
                            <ul class="list-inline content">
                                <li ng-repeat="trend in trends track by $index">
                                    <a href="#" class="trendLink">#{{trend}}</a> 
                                </li>
                            </ul>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="footer">       
            </div>
        </div>
    </body>
    <footer>
        <script src="assets/libs/angular.js"></script>
        <script src="assets/libs/angular-route.js"></script>
        <script src="app/angular/App.js"></script>
        <script src="app/angular/Controllers.js"></script>
        <script src="app/angular/Services.js"></script>
        
        <script type="text/javascript" src="assets/libs/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="assets/libs/angular-resource.min.js"></script>
    </footer>
</html>
